<%- include("partials/head") %> 

<%- include("partials/header") %> 

<%- include("partials/messagess") %> 

<main class="main-main">
        <section class="">
            <a href="/product/add" class="nav-link">Add products</a>
    
    
            <% for(let i = 0; i < products.length; i++) { %>
                <article>
                    <a href="/product/get/<%= products[i].id %> ">
                        <h1><%= products[i].title %> </h1>
                    </a>
                </article>
            <% } %> 
        </section>
        
        <section class="">
    
            <a href="/supplier/add" class="">Add supplier</a>
    
            <% for(let i = 0; i < suppliers.length; i++) { %>
                <article>
                    <a href="/supplier/get/<%= suppliers.id %> ">
                        <h1><%= suppliers[i].name %> </h1>
                    </a>
                </article>
            <% } %>  
        </section>
</main>

<%- include("partials/footer") %> 